doctype html
html
	head
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		block head

		block title
	body
	.container
		nav.navbar.navbar-default
			div.navbar-header
				ul.nav.navbar-nav
					li
							a(href="/Customers") All Customers
					li
						a(href="/Orders") All orders
					li
						a(href="/Products") All Products
					li
						a(href="/Vendors/") All Vendors
		block body
